<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    
  <title>Merge_Pdfs</title>
  <link rel="stylesheet" href='../CSSfiles/style.css'>
</head>

<body>
 
<div class="main-container">
  <div class="main-heading">PDF MERGER TOOL</div>
  
  <div class="container">
    <h1>Merge PDF files</h1>
    <p>Choose pdf files to merge them into a single pdf file </p>

    <form id="pdfForm" method="post" action="/show" enctype="multipart/form-data">
      <div class="form-group">
        <label for="exampleFormControlFile1" class="custom-file-upload " id="button">Select PDF files</label>
        <input type="file" name="pdfs" class="form-control-file" multiple accept=".pdf" id="exampleFormControlFile1">  
      </div>
    </form>
  </div>
</div>


  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>
    <script src='../javaScript/script.js'></script>


</body>

</html>