.body{
    background-color: aliceblue;
}
.main-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}
.container{
    height: 60%;
    width: 60%;
    border-radius: 20px;
    box-shadow: 4px 8px 6px rgb(92, 91, 91);
    background-color: #ffff;
}
#downloadBtn{
    background-color: rgb(34, 139, 34);
    padding: 20px;
    margin: 10px;
    color: white;
    font-size: 30px;
    border: none;
    border-radius: 19px;
    width: 300px;
    font-weight: bold;
}
#downloadBtn:hover{
    background-color: rgb(32, 116, 32);
    border: 5px solid rgb(147, 248, 147);
}
.text{
    text-align: center;
    font-size: 35px;
    padding: 40px;
    color: rgb(51, 51, 51);
}
.SpinnerText{
    text-align: center;
    font-size: 35px;
    padding: 40px;
    color: rgb(51, 51, 51);
}